@using Prowler.Mvc.UI
@using Prowler.Presentation.Models
@model Prowler.Presentation.Models.MockProduct

<h3>Basic usage</h3>

<h5>The current demo of the UI for ASP.NET MVC Grid demonstrates an implementation of displaying data in the grid control.</h5>

<br />
<h4>DEMO EXAMPLE</h4>
<div style="padding-top:10px;">
    <div>
        @(Html.Prowler().Grid()
            .BindTo(Model.ProductDataSource)
            .HtmlAttributes("id", "productGrid")
            .Height(450)
            .Columns(
                    i => i.BindTo(nameof(Product.Id)).Title("ID"),
                    i => i.BindTo(nameof(Product.Name)).Title("Name").Width(250),
                    i => i.BindTo(nameof(Product.Description)).Title("Description"),
                    i => i.BindTo(nameof(Product.GroupName)).Title("Type")
                    )
            .Render()
 )
    </div>

    @{
        string basicCode = @"@(Html.Prowler().Grid()
.BindTo(Model.ProductDataSource)
.HtmlAttributes(""id"", ""productGrid"")
.Height(450)
.Columns(
      i => i.BindTo(nameof(Product.Id)).Title(""ID""),
      i => i.BindTo(nameof(Product.Name)).Title(""Name"").Width(250),
      i => i.BindTo(nameof(Product.Description)).Title(""Description""),
      i => i.BindTo(nameof(Product.GroupName)).Title(""Type"")
    )
.Render()
)";

    }
    <br />
    <h4>VIEW CODE</h4>
    <div style="background-color:whitesmoke;padding:20px; margin-top:10px; border-radius:5px">
        <code style="white-space:pre; display:block; margin:10px">@basicCode</code>
    </div>
    <br />
    <div class="infoTipContainer">
        <span class="dot">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-info" viewBox="0 0 16 16" id="IconChangeColor"> <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" id="mainIconPathAttribute" fill="black"></path> </svg>
        </span>
        <h5>When working with multiple grid controls the <strong>ID attribute</strong> is required, use the <strong>HtmlAttributes(string, string)</strong> method to specify the id as presented in the code example above.</h5>
    </div>
    <br />
    <h5><strong>HtmlAttributes</strong> method takes 2 parameters, the first one sets the attribute name, and the second the attribute value. This method can be chained multiple times.</h5>
    <h5><strong>BindTo</strong> method takes a data source, the data source parameter accepts an IEnumerable&lt;dynamic&gt;, and the object represents the grid row elements.</h5>
    <h5><strong>Height</strong> Height sets the height of the grid, the grid will not grow beyond the height defined, a scroll bar will appear in case the grid rows do not fit in the defined height.</h5>
    <h5><strong>Columns</strong> defines the columns and rows.</h5>
    <h5><strong>Render</strong> method will generate the grid HTML code to be rendered in the view.</h5>
</div>
<br />
@Html.Partial("_GridColumMethods")