<h3>Columns Methods</h3>
<div style="padding:0px; margin-top:10px; border-radius:5px">
    <table class="tableStyle" style="width:100%">
        <tr>
            <th>Method name</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>BindTo(string)</td>
            <td>Sets the property from the data source (Model) for this cell, the value will be displayed on the cell</td>
        </tr>
        <tr>
            <td>Title(string)</td>
            <td>Sets the Title of the column header</td>
        </tr>
        <tr>
            <td>Width(int)</td>
            <td>Sets the width of the column header</td>
        </tr>
        <tr>
            <td>Sorting(string)</td>
            <td>Enables the sorting on the column header and sets the name of parameter to use on POST the value sent can be "asc" or "desc"</td>
        </tr>
        <tr>
            <td>AsEditable(Prowler.Mvc.UI.GridInputType)</td>
            <td>Sets the type of editorial control to render in the cell</td>
        </tr>
        <tr>
            <td>AsReadOnly(string)</td>
            <td>Sets the edit control as read only, boolean property from the data source can be bound to set the control as a read only state based on the property value</td>
        </tr>
        <tr>
            <td>RowTemplate(string)</td>
            <td>Value Template to be used to render the cell value</td>
        </tr>
        <tr>
            <td>RowTemplate(MvcHtmlString)</td>
            <td>Value Template to be used to render the cell value</td>
        </tr>
        <tr>
            <td>ColumnTemplate(string)</td>
            <td>Value Template to be used to render the cell value</td>
        </tr>
        <tr>
            <td>ColumnTemplate(MvcHtmlString)</td>
            <td>Value Template to be used to render the cell value</td>
        </tr>
        <tr>
            <td>HtmlAttributes(string, string)</td>
            <td>Sets the HTML attributes, can be used multiple times to add new attributes</td>
        </tr>
        <tr>
            <td>HeaderAsCheckBox(string, bool)</td>
            <td>Sets an editable check box control on the column header</td>
        </tr>
    </table>
</div>