<div>
    @Html.Label("Select All")
    <input id="selectAllCheckBox" type="checkbox" name="SelectAll" onchange="selectAll(this)" />
    @Html.Label("Select Page All")
    <input id="selectAllPageCheckBox" type="checkbox" name="SelectAll" onchange="selectAll(this)" />
</div>
