<div style="position:relative;margin:10px">
    <table>
        <tbody>
            <tr>
                <td valign="top"><img style="border-radius:50%;height:45px;width:45px;margin:2px" src="{#Image#}" /></td>
                <td>
                    <p style="margin:5px;">{#Name#}</p>
                    <p style="margin-left:5px;margin-top:-5px;font-size: 10px;">{#Description#}</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>