@using Prowler.Mvc.UI
@using Prowler.Presentation.Models
@model Prowler.Presentation.Models.MockProduct

<h3>Basic usage</h3>

<h5>The demo shows a sample scenario for using the DropDownList for ASP.NET MVC where you can bind the component to a list of values and make a selection from the available options.</h5>

<br />

<h5>DEMO EXAMPLE</h5>
<div style="padding-top:10px;">
    @(Html.Prowler().DropDownList()
          .BindTo(Model.ProductDataSource)
          .DataTextField(nameof(Product.Name))
          .DataValueField(nameof(Product.Id))
          .HtmlAttributes("style", "width:400px")
          .SelectedIndex(0)
          .Render()
    )

    @{
        string basicCode = @"@(Html.Prowler()
.DropDownList()
.BindTo(Model.ProductDataSource)
.DataTextField(nameof(Product.Name))
.DataValueField(nameof(Product.Id))
.SelectedIndex(0)
.Render())";

    }

    <br/>
    <h5>VIEW CODE</h5>
    <div style="background-color:whitesmoke;padding:20px; margin-top:10px; border-radius:5px">
        <code style="white-space:pre; display:block; margin:10px">@basicCode</code>
    </div>
</div>
<br/>
<h5><strong>BindTo</strong> method has a datasource parameter and the option label parameter, the datasource parameter accepts an IEnumerable &lt;object&gt;, the object represents the drop down item elements, the option label parameter can be used to add a default item in the drop down for example the "Please select" label.</h5>
<h5><strong>SelectedIndex</strong> method has a parameter that is used to select a value from the drop down list at the specified index, the <strong>SelectedValue</strong> method can also be used to select an item that has the specified value</h5>
<h5><strong>DataTextField</strong> method has a binding parameter, set the binding parameter value to a property name that belongs to the model, this is the value that will be displayed on the drop down item label</h5>
<h5><strong>DataValueField</strong> method has a binding parameter, set the binding parameter value to a property name that belongs to the model, this is the value that will be added on the drop down item value</h5>
<h5>Regarding of using templates the <strong>DataValueField</strong> method must always be added even if the template contains the property value the serialization will be performed only on the value supplied in the DataValueField binding property</h5>
<h5><strong>Render</strong> method has no parameter and it is a mandatory to be the last method called, this method will generate the drop down html code to be rendered on the view</h5>
