@using Prowler.Mvc.UI
@using Prowler.Presentation.Models
@model Prowler.Presentation.Models.MockProduct

<h3>Basic usage</h3>

<h5>The current demo of the UI for ASP.NET MVC DropDownList demonstrates an implementation of the most common scenarios in which the component is used.</h5>
<h5>The binding mechanism requires the property name that belongs to the data source the value will be retrieved at runtime.</h5>

<br />

<h4>DEMO EXAMPLE</h4>
<div style="padding-top:10px;">
    @(Html.Prowler().DropDownList()
          .HtmlAttributes("id", "ProductDropDown")
          .BindTo(Model.ProductDataSource)
          .DataTextField(nameof(Product.Name))
          .DataValueField(nameof(Product.Id))
          .HtmlAttributes("style", "width:400px")
          .SelectedIndex(0)
          .Render()
    )

    @{
        string basicCode = @"@(Html.Prowler()
.DropDownList()
.HtmlAttributes(""id"", ""ProductDropDown"")
.BindTo(Model.ProductDataSource)
.DataTextField(nameof(Product.Name))
.DataValueField(nameof(Product.Id))
.SelectedIndex(0)
.Render())";

    }

    <br />
    <h4>VIEW CODE</h4>
    <div style="background-color:whitesmoke;padding:20px; margin-top:10px; border-radius:5px">
        <code style="white-space:pre; display:block; margin:10px">@basicCode</code>
    </div>
</div>
<div class="infoTipContainer">
    <span class="dot">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-info" viewBox="0 0 16 16" id="IconChangeColor"> <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" id="mainIconPathAttribute" fill="black"></path> </svg>
    </span>
    <h5>When working with multiple dropdown controls the <strong>ID attribute</strong> is required, use the <strong>HtmlAttributes(string, string)</strong> method to specify the id as presented in the code example above.</h5>
</div>
<br />
<h5><strong>HtmlAttributes</strong> method takes 2 parameters, first one sets the attribute name and the second the attribute value. This method can be chained multiple times.</h5>
<h5><strong>BindTo</strong> method takes a data source and the option label value, the data source parameter accepts an IEnumerable&lt;dynamic&gt;, the object represents the drop-down item elements, and the option label parameter can be used to add a default item in the drop-down for example the "Please select" label.</h5>
<h5><strong>DataTextField</strong> set the binding parameter value to a property name that belongs to the data source, this is the value that will be displayed on the drop-down item label.</h5>
<h5><strong>DataValueField</strong> set the binding parameter value to a property name that belongs to the data source, this is the value that will be added to the drop-down item value.</h5>
<h5><strong>SelectedIndex</strong> is used to select a value from the drop-down list at the specified index, the <strong>SelectedValue</strong> method can also be used to select an item that has the specified value.</h5>
<h5><strong>Render</strong> method will generate the drop-down HTML code to be rendered on the view.</h5>
<br />



