.loader-prowler {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 38px;
    height: 38px;
    -webkit-animation: spin-prowler 2s linear infinite; /* Safari */
    animation: spin-prowler 2s linear infinite;
}

@-webkit-keyframes spin-prowler {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin-prowler {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.p-dropdown-listbox-container {
    position: absolute;
    width: 100%;
}

.p-dropdown-container {
    position: relative;
}

.p-dropdown-container-disabled {
    position: relative;
}

.p-dropdown {
    border: 1px solid;
    border-color: rgba(0,0,0,.08);
    color: #424242;
    background-color: #f5f5f5;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.02));
    vertical-align: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    overflow: hidden;
    border-radius: 2px;
}

    .p-dropdown:hover {
        background-color: #ebebeb;
    }

.p-dropdown-focus {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.08);
}

.p-dropdown-disabled {
    color: #8e8e8e;
    border: 1px solid;
    border-color: rgba(0,0,0,.08);
    background-color: #f7f7f7;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.02));
    vertical-align: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    overflow: hidden;
    border-radius: 2px;
}

.p-dropdown-list {
    background-color: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    user-select: none;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    z-index: 10000;
    display: block;
}

.p-dropdown-label-selected {
    height: inherit;
    margin-right: 25px;
    overflow: hidden;
    min-height: 30px;
    display: flex;
    align-items: baseline;
}

.p-dropdown-list-element {
    padding-left: 5px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 0px;
    margin-bottom: 0px;
    display: block;
    padding-top: 1px;
    overflow: hidden;
}

.p-dropdown-list-element-selected {
    background-color: #408dc8;
    color: white;
}

.p-dropdown-list-element span {
    display: block !important;
}

.p-dropdown-group-container {
    border-bottom: 1px solid #ebebeb;
    margin-top: 5px;
    margin-bottom: 5px;
}

.p-dropdown-group-label {
    background: #408dc8;
    position: relative;
    display: table-cell;
    min-width: 50px;
    padding-left: 5px;
    padding-right: 10px;
    color: white;
    font-weight: 200;
}

    .p-dropdown-group-label:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        border-top: 10px solid #fafafa;
        border-left: 10px solid #408dc8;
        width: 0;
    }

.p-dropdown-list-element-multiselect {
    margin-left: 5px !important;
    margin-top: 6px !important;
    float: left;
    position: relative;
}

.p-dropdown-container-element {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    /*-khtml-user-select: none;*/
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    display: flex;
    align-items: center;
}

    .p-dropdown-container-element:not(.p-dropdown-list-element-selected):hover {
        background-color: #ededed;
        color: black;
    }

.p-dropdown-filter-container {
    background-color: #fafafa;
    border: 1px solid #ebebeb;
    height: 41px;
    z-index: 10000;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.p-dropdown-filter-layer {
    margin: 2px;
}

.p-dropdown-filter-input {
    background-color: white;
    border: 1px solid #ebebeb;
    height: 35px;
    position: relative;
    max-width: none;
    width: 100%;
    font-size: 14px;
    padding: 5px;
    outline: none;
}

    .p-dropdown-filter-input:focus {
        border: 1px solid #ebebeb;
    }

.p-dropdown-filter-input-svg {
    position: absolute;
    top: 3px;
    right: 5px;
    height: 32px;
    background-color: white;
    fill: #ebebeb;
}

.p-dropdown-list-multiselect-container {
    display: block;
    position: relative;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 15px;
    margin: 0px;
}

    .p-dropdown-list-multiselect-container input {
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;
        display: none;
    }


.p-dropdown-list-multiselect-checkmark {
    position: absolute;
    top: 0px;
    left: 5px;
    height: 15px;
    width: 15px;
    background-color: #eee;
}


.p-dropdown-list-multiselect-container:hover input ~ .p-dropdown-list-multiselect-checkmark {
    background-color: #ccc;
}


.p-dropdown-list-multiselect-container input:checked ~ .p-dropdown-list-multiselect-checkmark {
    background-color: #408dc8;
}

.p-dropdown-list-multiselect-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.p-dropdown-list-multiselect-container input:checked ~ .p-dropdown-list-multiselect-checkmark:after {
    display: block;
}

.p-dropdown-list-multiselect-container .p-dropdown-list-multiselect-checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.p-multiselect-selection-list-container-element {
    margin: 2px;
    display: inline-block;
    background-color: #408dc8;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    float: left;
    border-radius: 2px;
}


.pw-grid-loader-cnt {
    position: absolute;
    left: 45%;
    top: 45%;
}

.pw-grid-table-defaultrow {
    display: none;
}

.p-grid-table-checkBox-container {
    display: block;
    position: relative;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 20px;
    margin: auto;
    width: 20px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
}

    .p-grid-table-checkBox-container input {
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;
        display: none;
        border-radius: 3px;
    }


.p-grid-table-checkBox-checkmark {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
}


.p-grid-table-checkBox-container:hover input ~ .p-grid-table-checkBox-checkmark {
    background-color: #ccc;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
}


.p-grid-table-checkBox-container input:checked ~ .p-grid-table-checkBox-checkmark {
    background-color: #408dc8;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
}

.p-grid-table-checkBox-checkmark:after {
    content: "";
    position: absolute;
    display: none;
    border-radius: 3px;
}


.p-grid-table-checkBox-container input:checked ~ .p-grid-table-checkBox-checkmark:after {
    display: block;
    border-radius: 3px;
}

.p-grid-table-checkBox-container .p-grid-table-checkBox-checkmark:after {
    left: 5px;
    top: 2px;
    width: 7px;
    height: 11px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 3px;
}


.pw-validation-err-tip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.pw-validation-err-tip {
    visibility: visible;
    background-color: red;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 3px 4px;
    z-index: 1;
    margin-top: 5px;
}

    .pw-validation-err-tip::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 6px;
        border-style: solid;
        border-color: transparent transparent red transparent;
    }

.pw-grid-pagination-sel {
    background-color: #408dc8;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    color: whitesmoke !important;
}

.pw-grid-pagination-item-dis {
    color: cadetblue !important;
}

.pw-grid-pagination-container {
    display: inline-block;
    background-color: #fafafa;
    width: 100%;
    padding-top: 5px;
    padding-left: 5px;
    border-top: 1px solid #e6e6e6;
    cursor: default;
}

    .pw-grid-pagination-container a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
    }

        .pw-grid-pagination-container a.active {
            background-color: #4CAF50;
            color: white;
            border-radius: 5px;
        }

        .pw-grid-pagination-container a:hover:not(.pw-grid-pagination-sel) {
            background-color: #ddd;
            border-radius: 5px;
        }

.pw-grid-table th {
    border: 1px solid #e6e6e6;
    border-top: 0;
    background-color: #fafafa;
    font-weight: normal;
    position: sticky;
    top: -1px;
    z-index: 2;
}

.pw-grid-table tr:hover {
    background-color: #EDEDED !important;
}

.pw-grid-row-cell-container {
    height: 100%;
}

.pw-grid-row-cell-disable {
    pointer-events: none;
}

.pw-grid-table td {
    padding: 8px;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.pw-grid-command-container {
    display: flex;
    pointer-events: all;
}

.pw-grid-command-button {
    border: 1px solid;
    border-color: rgba(0,0,0,.08);
    color: #424242;
    background-color: #f5f5f5;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.02));
    vertical-align: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    overflow: hidden;
    border-radius: 2px;
    padding: 5px;
    margin-right: 5px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.08);
    white-space: nowrap;
}

    .pw-grid-command-button:hover {
        background-color: #ebebeb;
    }

    .pw-grid-command-button:active:not(.pw-grid-command-del,.pw-grid-command-upd) {
        background-color: rgba(0,0,0,0.2);
    }

.pw-grid-command-del {
    background-color: red;
    color: white;
}

    .pw-grid-command-del:hover {
        background-color: rgba(254,0,0,0.5);
        color: white;
    }

    .pw-grid-command-del:active {
        background-color: rgba(254,0,0,0.3);
        color: white;
    }

.pw-grid-command-upd {
    background-color: rgb(76,175,80);
    color: white;
}

    .pw-grid-command-upd:hover {
        background-color: rgba(76,175,80,0.5);
        color: white;
    }

    .pw-grid-command-upd:active {
        background-color: rgba(76,175,80,0.3);
        color: white;
    }

.pw-grid-table-container {
    display: inline-block;
    border: 1px solid #e6e6e6;
    background-color: #fafafa;
    position: sticky;
}

.pw-grid-table {
    border-collapse: separate;
    border-spacing: 0;
    display: block;
    table-layout: fixed;
    overflow: auto;
}

.pw-grid-table-input-edit {
    max-width: none;
    max-height: none;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid #ebebeb;
    padding: 8px;
    border-radius: 3px;
    outline: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08);
}

    .pw-grid-table-input-edit::-ms-clear {
        width: 0;
        height: 0;
    }

.pw-grid-table-input-edit-validation-err {
    max-width: none;
    max-height: none;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid red;
    padding: 8px;
    border-radius: 3px;
}

.pw-grid-table-input-edit:not(.pw-grid-table-input-edit-validation-err):focus {
    outline: none;
    border: 1px solid;
    border-color: #408dc8;
}

.pw-grid-table tr:nth-child(odd) {
    background-color: #f5f5f5;
}

.pw-grid-table tr:nth-child(even) {
    background-color: white;
}

.pw-grid-resize-point {
    width: 10px;
    height: 100%;
    background-color: red;
    position: absolute;
}

.pt-grid th {
    position: relative;
}

.pw-grid-row-del-cnt {
    display: none;
}

.pw-grid-filter-cnt {
    margin-top: 5px;
    margin-bottom: 5px;
}

.pw-glb-svg-search-ico {
    position: absolute;
    top: 3px;
    right: 5px;
    height: 32px;
    background-color: white;
    fill: #ebebeb;
}

.pw-glb-filter-container {
    background-color: #fafafa;
    border: 1px solid #ebebeb;
    height: 41px;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    border-radius: 8px;
}

.pw-glb-filter-container-layer {
    margin: 2px;
}

.pw-glb-filter-input {
    background-color: white;
    border: 1px solid #ebebeb;
    height: 35px;
    position: relative;
    max-width: none;
    width: 100%;
    font-size: 14px;
    padding: 5px;
    outline: none;
    border-radius: 4px;
}

.pw-glb-sort-by-asc-ico {
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 0 3px;
    background: transparent;
    border-bottom: solid 7px black;
    border-top-width: 0;
}

.pw-glb-sort-by-desc-ico {
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 0 3px;
    background: transparent;
    border-top: solid 7px black;
    border-bottom-width: 0;
}

.pw-grid-row-disable-flt {
    background-color: transparent;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
}

.pw-grid-block-resize {
    background-color: transparent;
    width: 3px;
    position: absolute;
    top: 0px;
    right: -1px;
    margin: auto;
    padding: 0px;
    cursor: col-resize;
    bottom: 0px;
    display: block;
    z-index: 10;
}

.pw-grid-col-head-cnt {
    position: relative;
    display: block;
}

.pw-grid-col-head-cnt {
    min-width: 30px;
}

.pw-grid-content-no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    cursor: default;
}

.pw-grid-table-main {
    position: relative;
}

.pw-grid-overlayer-cnt {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: transparent;
    opacity: 0.7;
    display: none;
}

.pw-grid-pagination-tlb-right {
    position: absolute;
    right: 20px;
    height: 40px;
    display: flex;
}

    .pw-grid-pagination-tlb-right span {
        line-height: 40px;
    }

.pw-grid-col-head-cnt-srt {
    cursor: pointer;
}


.p-grid-table-checkBox-container-dis {
    display: block;
    position: relative;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 20px;
    margin: auto;
    width: 20px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
}

    .p-grid-table-checkBox-container-dis input {
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;
        display: none;
        border-radius: 3px;
    }

    .p-grid-table-checkBox-container-dis:hover input ~ .p-grid-table-checkBox-checkmark-dis {
        background-color: #ccc;
        border: 1px solid #e6e6e6;
        border-radius: 3px;
    }


    .p-grid-table-checkBox-container-dis input:checked ~ .p-grid-table-checkBox-checkmark-dis {
        background-color: #9fabb4;
        border: 1px solid #e6e6e6;
        border-radius: 3px;
    }

        .p-grid-table-checkBox-container-dis input:checked ~ .p-grid-table-checkBox-checkmark-dis:after {
            display: block;
            border-radius: 3px;
        }

    .p-grid-table-checkBox-container-dis .p-grid-table-checkBox-checkmark-dis:after {
        left: 5px;
        top: 2px;
        width: 7px;
        height: 11px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        border-radius: 3px;
    }

.p-grid-table-checkBox-checkmark-dis {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 20px;
    width: 20px;
    background-color: #9fabb4;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
}

    .p-grid-table-checkBox-checkmark-dis:after {
        content: "";
        position: absolute;
        display: none;
        border-radius: 3px;
    }

.p-grid-tollbar-right-container {
    padding-left: 10px;
}

.pw-grid-table tbody {
    display: table;
    width: 100%;
}

.pw-grid-block-resize:hover {
    background-color: #408dc8 !important;
    cursor: col-resize;
}
