@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Prowler.Mvc.UI</h1>
    <p class="lead">Provides components with flexible data binding, api, events, appearance customization through templates, accessibility</p>    
</div>
